label {
	display: block;
}
#country {
	width: 350px;
	border: 1px solid #ccc;
	border-top-color: #777;
	border-left-color: #777;
	padding: 2px;
	position: relative;
}
.suggest {
	position: absolute;
}
.suggest ul {
	padding: 0;
	margin: 0;
	width: 356px;
}
.suggest li {
	list-style-type: none;
	padding: 0;
	padding: 5px;
	cursor: pointer;
	background: #eee;
}
.suggest li:hover,
.suggest li.active {
	color: #fff;
	background: #999;
}
