label {
	display: block;
}
.country-autocomplete {
	position: relative;
}
.country-autocomplete-suggest {
	position: absolute;
}
.country-autocomplete-suggest-list {
	padding: 0;
	margin: 0;
	width: 356px;
}
.country-autocomplete-suggest-item {
	list-style-type: none;
	padding: 0;
	padding: 5px;
	cursor: pointer;
	background: #eee;
}
.country-autocomplete-suggest-item:hover,
.country-autocomplete-suggest-item.active {
	color: #fff;
	background: #999;
}
